body {padding:0; margin:0; background-color:white; }

#home{
  background:url("https://media.giphy.com/media/RrMZND4cez4xG/giphy.gif");
  height: 700px;
    width:100%;
    min-width: 100%;
    padding-right:20px;
    padding-left:20px;
    margin-left:10px;
    margin-right:10px;
}


.panel{
  margin-top:40px;
  width:100%;
  height:400px;;

}

#panel{
  margin-top:80px;
  width:700px;
  height:500px;;
  margin-left:375px;
  border-style: solid;
  border-width: 20px;
  border-color: azure;
  border-radius: 50%;
  background-color:rgb(238, 230, 232);
  font-family:'Pacifico';
}

.padding{
  margin-top:10px;
  margin-bottom:10px;
}

.responsive{
    margin-top:20px;
    max-width: 100%;
    min-width: 100px;
    height: auto;   
}

#about {
    margin-top: 100px;
    font-family:'Pacifico'; 
}

#aboutme{
  text-decoration:underline;
}

p{
    font-family: 'Patua One', cursive;
}

#pageTwo{
  background-color:rgb(226, 207, 213); 
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  padding-top:30px;
}


#pageThree{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  margin-top: 10px;
  background-image: url('../images/wallpaperthree.png');
  overflow: hidden;
  margin-left:10px;
  margin-right:10px;
 }
  
  .column{
    width:50%;
    float: left;
  }

  @media only screen and (min-width: 300px) {

#form{
  margin-top: -50px;
  margin-left: 50px;
}

#pageTwo{
  
  width:100%;
  overflow: hidden;
}

#pageThree{
  height:750px;
  width:100%;
  overflow: hidden; 
}

#projectTwo{
  margin-top:100px;
}

#panel{
  margin-top:130px;
  width:250px;
  height:250px;;
  margin-left:40px;
  border-style: solid;
  border-width: 5px;
  border-color: azure;
  border-radius: 50%;
  background-color:rgb(238, 230, 232);
  font-family:'Pacifico';
}
  #welcome{
    font-size: 35px;
    text-align: center;
    padding-top:40px;
    color:azure;
  }
  
#home{
     background:url("https://media.giphy.com/media/RrMZND4cez4xG/giphy.gif");
     height: 500px;
    width:auto;
    min-width: 100%;
    overflow: hidden;
}

#about {
  margin-top: 30px;
  font-family:'Pacifico';
}

#projectOne{
  border-radius: 50%;
  width: 110px;
  height: 150px;
  background-image: url("../images/project1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color:  rgb(248, 238, 240);
  margin-left: 10px;
  margin-top: 20px;
}

#projectOne:hover .overlay {
  opacity: 1;
}

#projectTwo{
  border-radius: 50%;
  width: 110px;
  height: 150px;
  background-image: url("../images/project3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color:  rgb(248, 238, 240);
  margin-left: 20px;
  margin-top: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(148, 118, 148);
  border-radius:50%;
}

#projectTwo:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Patua One', cursive;
}

#projectThree{
  border-radius: 50%;
  width: 110px;
  height: 150px;
  background-image: url("../images/project2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color:  rgb(248, 238, 240);
  margin-left: 15px;
  margin-top: 20px;
}

#projectThree:hover .overlay {
  opacity: 1;
}

#projectFour{
  border-radius: 50%;
  width: 110px;
  height: 150px;
  background-image: url("../images/project4.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color:  rgb(248, 238, 240);
  margin-left: 20px;
  margin-top: 20px;
}

#projectFour:hover .overlay {
  opacity: 1;
}


#projectFive{
  border-radius: 50%;
  width: 110px;
  height: 150px;
  background-image: url("../images/project5.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color:  rgb(248, 238, 240);
  margin-left: 20px;
  margin-top: 20px;

}

#projectFive:hover .overlay {
  opacity: 1;
}


#projectSix{
  border-radius: 50%;
  width: 110px;
  height: 150px;
  background-image: url("../images/project6.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color:  rgb(248, 238, 240);
  margin-top: 20px;
  margin-left: 20px;
}

#projectSix:hover .overlay {
  opacity: 1;
}


#bOne{ 
  margin-top:75px;
  margin-left: 20px;
  width: 35px;
  height: 30px;
  border-radius:10px;
  font-family: 'Patua One', cursive;
  font-size:12px;
  background-color: aliceblue;

}
#bOneO {
  margin-top:0px;
  width: 50px;
  height: 50px;
  font-family: 'Patua One', cursive;
  font-size:10px;

 }

#bTwo {
  margin-top:75px;
  margin-left: 20px;
  width: 35px;
  height: 30px;
border-radius:10px;
font-family: 'Patua One', cursive;
font-size:12px;
background-color: aliceblue;
}

#bTwoO {
  margin-top:0px;
  width: 50px;
  height: 50px;
  font-family: 'Patua One', cursive;
  font-size:10px;


}

#bFour {
  margin-top:75px;
  margin-left: 20px;
  width: 35px;
  height: 30px;
border-radius:10px;
font-family: 'Patua One', cursive;
font-size:12px;
background-color: aliceblue;
}

#bFourO {
  margin-top:0px;
  width: 50px;
  height: 50px;
  font-family: 'Patua One', cursive;
  font-size:10px;



}

#bSix{
  margin-top:75px;
  margin-left: 20px; 
  width: 35px;
  height: 30px;
border-radius:10px;
font-family: 'Patua One', cursive;
font-size:12px;
background-color: aliceblue;
}

#bSixO {
  margin-top:0px;
  width: 50px;
  height: 50px;
  font-family: 'Patua One', cursive;
  font-size:10px;


}
 }

  @media (min-width: 480px) {
    #form{
       margin-top: -20px;
    }
}

@media (min-width:801px)  { 

    #form{
       margin-top: -250px;
    }
    #pageThree{
      height:900px;
    }

    #home{
        background:url("https://media.giphy.com/media/RrMZND4cez4xG/giphy.gif");
        height: 700px;
        width:100%;
        min-width: 100%;
        padding-right:20px;
        padding-left:20px;
        margin-left:10px;
        margin-right:10px;
    }
    
    
    .panel{
      margin-top:40px;
      width:100%;
      height:400px;;
    
    }
    
    #panel{
      margin-top:80px;
      width:700px;
      height:500px;;
      margin-left:375px;
      border-style: solid;
      border-width: 20px;
      border-color: azure;
      border-radius: 50%;
      background-color:rgb(238, 230, 232);
      font-family:'Pacifico';
      
    
    
    }
    
    #welcome{
      font-size: 80px;
      text-align: center;
      padding-top:80px;
      color:azure;
    }

    #projectOne{
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-image: url("../images/project1.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  rgb(248, 238, 240);
      margin-left: 10px;
      margin-top: 20px;
  
    }
  
    #projectOne:hover .overlay {
      opacity: 1;
    }
  
    #projectTwo{
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-image: url("../images/project3.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  rgb(248, 238, 240);
      margin-left: 20px;
      margin-top: 20px;
  
  
    }
  
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgb(148, 118, 148);
      border-radius:50%;
    }
    
    #projectTwo:hover .overlay {
      opacity: 1;
    }
    
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      font-family: 'Patua One', cursive;
  
    }
  
    #projectThree{
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-image: url("../images/project2.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  rgb(248, 238, 240);
      margin-left: 20px;
      margin-top: 20px;
    }
    #projectThree:hover .overlay {
      opacity: 1;
    }
  
    #projectFour{
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-image: url("../images/project4.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  rgb(248, 238, 240);
  
      margin-left: 20px;
      margin-top: 20px;
  
    }
    #projectFour:hover .overlay {
      opacity: 1;
    }
  
  
    #projectFive{
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-image: url("../images/project5.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  rgb(248, 238, 240);
  
      margin-left: 20px;
      margin-top: 20px;
  
    }
  
    #projectFive:hover .overlay {
      opacity: 1;
    }
  
    
    #projectSix{
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-image: url("../images/project6.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color:  rgb(248, 238, 240);
      margin-top: 20px;
      margin-left: 20px;
  
    }
    #projectSix:hover .overlay {
      opacity: 1;
    }
  
  
    #bOne{ 
      margin-top:115px;
      margin-left: 65px;
      width: 45px;
      height: 40px;
      border-radius:10px;
      font-family: 'Patua One', cursive;
      font-size:20px;
      background-color: aliceblue;
  
    }
    #bOneO {
      margin-top:10px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      font-family: 'Patua One', cursive;
      font-size:15px;
      background-color: rgb(192, 228, 206);
     }
   #bTwo {
    margin-top:100px;
    margin-left: 60px;
    width: 55px;
    height: 50px;
    border-radius:10px;
    font-family: 'Patua One', cursive;
    font-size:20px;
    background-color: aliceblue;
  
   }
  
   #bTwoO {
    margin-top:10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-family: 'Patua One', cursive;
    font-size:15px;
    background-color: rgb(192, 228, 206);
   }
  
   #bFour {
    margin-top:105px;
    margin-left: 65px;
    width: 50px;
    height: 50px;
    border-radius:10px;
    font-family: 'Patua One', cursive;
    font-size:20px;
    background-color: aliceblue;
   }
  
   #bFourO {
    margin-top:10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-family: 'Patua One', cursive;
    font-size:12px;
    background-color: rgb(192, 228, 206);
   }
   #bSix{
    margin-top:100px;
    margin-left: 65px;
    width: 50px;
    height: 50px;
    border-radius:10px;
    font-family: 'Patua One', cursive;
    font-size:25px;
    background-color: aliceblue;
   }
  
   #bSixO {
    margin-top:10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-family: 'Patua One', cursive;
    font-size:15px;
    background-color: rgb(192, 228, 206);
   }

}



 



  #vine{
    margin-bottom:0px;
    padding-bottom:0px;
  }

  .vinetwo{
    margin-left:40px;
  }
